/*****************
GENERAL
*****************/

* {
	box-sizing: border-box;
}

.module {
	padding-top: 200px;
	padding-bottom: 200px;
}

/*****************
NAVIGATION
*****************/

#navbar-links li.active a {
	background-color: #23C4EB;
	margin-top: 1px;
}

#navbar-links li.active a:last-child {
	margin-right: 1px;
}


.navbar-header .navbar-brand {
	color: white;
}

/*****************
HOME MODULE
*****************/

#home {
	background: url(../img/mountain-background-shrunk.jpg) no-repeat left fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#introHeader {
	color: #fff;
}

#introHeader h1 {
	font-size: 4em;
	font-weight: 800;
	margin-top: 0;
}

#introHeader h3 {
	font-weight: 700;
}

#socialNav {
	margin: 0;
}

#socialNav li {
	margin: 5px;
	padding: 5px;
	background-color: #fff;
	border-radius: 3px;
}

.social-button {
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: 5% 50%;
}

.fb-button {
	background-image: url('../img/glyphicons-facebook.png');
}

.twitter-button {
	background-image: url('../img/glyphicons-twitter.png');
}

.insta-button {
	background-image: url('../img/glyphicons-instagram.png');
}

.linkedin-button {
	background-image: url('../img/glyphicons-linkedin.png');
}

.github-button {
	background-image: url('../img/glyphicons-github.png');
}

/*****************
PORTFOLIO MODULE
*****************/

#portfolio {
	background-color: #ddd;
	padding-top: 100px;
	padding-bottom: 100px;
}

#portfolio .thumbnail {
	background-color: #333;

}

#portfolio .thumbnail:hover {
	text-decoration: none;
}

#portfolio .thumbnail .caption {
	color: #ccc;
}


/*****************
ABOUT MODULE
*****************/

#about {
	background: url(../img/about-background-shrunk.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	padding-top: 150px;
	padding-bottom: 150px;
}

#about h2 {
	margin-top: 10px;
}

#about a {
	color: inherit;
	text-decoration: underline;
}

#bio {
	background-color: rgba(50, 50, 50, .6);
	border-radius: 20px;
}

#avatarImage {
	border-radius: 20px;
}



/*****************
CONTACT MODULE
*****************/

#contact {
	background-color: #ddd;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #666;
}

#emailMessage {
	height: 108px;
	resize: none;
}

#contact h3 {
	margin: 0 20px 30px;
	text-align: justify;
	font-weight: 800;
}

@media (min-width: 436px) {
	#contact h3 {
		text-align: center;
	}
}

#submitContact {
	margin-top: 20px;
}

.form-error-list {
  margin: 0;
}

.form-error-list,
#formError,
#notEmail {
  color: black;
  font-weight: bold;
}

/*****************
FOOTER
*****************/

footer {
	background-color: #333;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #ccc;
}
