* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
}

.clearfix {
	clear: both;
}

body {
	/*backcground image borrowed from https://pixabay.com/en/pencil-the-eraser-notebook-1629888/*/
	background-image: url('../img/calc-background.jpg');
}

/*media query used to fix issue with loading calc on 375px wide display (iphone) - issue caused by 5px thick right border on calc*/
@media (max-width: 375px) {
  body {
    padding-left: -5px;
  }
}

#calculator {
	width: 375px;
	height: 400px;
	margin: auto;
	margin-top: 50px;
	border-bottom: 2px #777 solid;
	border-right: 5px #555 solid;
	border-top: 1px #555 solid;
	border-left: 1px #555 solid;
	background: rgba(173,166,173,1);
	background: -moz-linear-gradient(45deg, rgba(173,166,173,1) 0%, rgba(173,166,173,1) 8%, rgba(219,219,219,1) 97%, rgba(219,219,219,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(173,166,173,1)), color-stop(8%, rgba(173,166,173,1)), color-stop(97%, rgba(219,219,219,1)), color-stop(100%, rgba(219,219,219,1)));
	background: -webkit-linear-gradient(45deg, rgba(173,166,173,1) 0%, rgba(173,166,173,1) 8%, rgba(219,219,219,1) 97%, rgba(219,219,219,1) 100%);
	background: -o-linear-gradient(45deg, rgba(173,166,173,1) 0%, rgba(173,166,173,1) 8%, rgba(219,219,219,1) 97%, rgba(219,219,219,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(173,166,173,1) 0%, rgba(173,166,173,1) 8%, rgba(219,219,219,1) 97%, rgba(219,219,219,1) 100%);
	background: linear-gradient(45deg, rgba(173,166,173,1) 0%, rgba(173,166,173,1) 8%, rgba(219,219,219,1) 97%, rgba(219,219,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ada6ad', endColorstr='#dbdbdb', GradientType=1 );
	border-radius: 10px;
	-webkit-box-shadow: 11px 11px 37px -1px rgba(0,0,0,0.72);
	-moz-box-shadow: 11px 11px 37px -1px rgba(0,0,0,0.72);
	box-shadow: 11px 11px 37px -1px rgba(0,0,0,0.72);
}

#output {
	width: 300px;
	margin: auto;
	margin-top: 40px;
	border: 4px #515151 solid;
	border-radius: 5px;
	height: 2em;
	text-align: right;
	padding: 5px;
	color: #4D5B6F;
	/*Quick and painless background gradient created with http://www.cssmatic.com/gradient-generator*/
	background: rgba(73,165,191,0.67);
	background: -moz-linear-gradient(45deg, rgba(73,165,191,0.67) 0%, rgba(73,165,191,0.73) 17%, rgba(147,203,219,0.8) 40%, rgba(147,206,222,0.99) 97%, rgba(147,206,222,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(73,165,191,0.67)), color-stop(17%, rgba(73,165,191,0.73)), color-stop(40%, rgba(147,203,219,0.8)), color-stop(97%, rgba(147,206,222,0.99)), color-stop(100%, rgba(147,206,222,1)));
	background: -webkit-linear-gradient(45deg, rgba(73,165,191,0.67) 0%, rgba(73,165,191,0.73) 17%, rgba(147,203,219,0.8) 40%, rgba(147,206,222,0.99) 97%, rgba(147,206,222,1) 100%);
	background: -o-linear-gradient(45deg, rgba(73,165,191,0.67) 0%, rgba(73,165,191,0.73) 17%, rgba(147,203,219,0.8) 40%, rgba(147,206,222,0.99) 97%, rgba(147,206,222,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(73,165,191,0.67) 0%, rgba(73,165,191,0.73) 17%, rgba(147,203,219,0.8) 40%, rgba(147,206,222,0.99) 97%, rgba(147,206,222,1) 100%);
	background: linear-gradient(45deg, rgba(73,165,191,0.67) 0%, rgba(73,165,191,0.73) 17%, rgba(147,203,219,0.8) 40%, rgba(147,206,222,0.99) 97%, rgba(147,206,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#93cede', GradientType=1 );
}

.buttonList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.button {
	border: 1px black solid;
	border-radius: 3px;
	background-color: #333;
	color: #ccc;
	padding: 5px;
	width: 50px;
	text-align: center;
	margin: 5px;
	cursor: pointer;
}

.button:active,
#clear:active {
	color: #333;
	background-color: #AAC3E8;
}

#keypad .button {
	display: inline-block;
}

#operators .button {
	margin-bottom: 10px;
}

#clear {
	width: 100px;
	margin: 20px auto;
	background-color: #333;
	color: #ccc;
	cursor: pointer;
	padding: 5px;
	border: 1px black solid;
	border-radius: 5px;
	text-align: center;
}

#keypad {
	float: left;
	width: 200px;
	margin: 30px 15px 10px 48px;
}

#operators {
	float: left;
	margin-top: 30px;
}